.home_page {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100vh;
}

.title {
	text-align: center;
	background: #f3f3f3;
	padding: 20px 0; 
	color: #7b1e2b;
	font-weight: 600; 
	font-size: 32px; 
	margin: 0;
}

.hero {
	flex: 1;
	background-image: url('../../assets/beach.png');
	background-size: cover;
	background-position: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 35px; 
}

.search_bar {
	display: flex;
	gap: 40px; 
}

.search_item {
	display: flex;
	align-items: center;
	gap: 12px;

	background-color: #3f5c85;
	color: white;

	padding: 20px 35px; 
	border-radius: 10px; 
	font-size: 20px; 
	min-width: 220px; 
	justify-content: center;

	border: 2px solid #1f2f4d; 
}

.search_item svg {
	font-size: 22px;
}

.options_bar {
	display: flex;
	gap: 80px;

	background: rgba(63, 92, 133, 0.5); 
	padding: 25px 80px; 

	border-radius: 12px;
	border: 3px solid #f0b429; 

	width: 60%; 
	justify-content: center;
	align-items: center;
}

.options_bar svg {
	font-size: 40px; 
	color: #f5dede;
	cursor: pointer; 
	transition: transform 0.2s ease; 
}

.options_bar svg:hover {
	transform: scale(1.2);
	color: white;
}

.submit_btn {
	margin-top: 10px; 
}

.submit_btn button {
	background-color: #243a6f;
	color: #ffc857;

	padding: 18px 50px; 
	border-radius: 35px;
	border: none;

	font-size: 22px; 
	cursor: pointer;

	z-index: 2; 
}