.light {
  --bg: var(--surface-1);
  --text: var(--text-primary);
}

.dark {
  --bg: var(--surface-1);
  --text: var(--text-primary);
}

.canvas {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--bg);
	color: var(--text);
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}